.hero-section {
  display: flex;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.hero-section img {
  width: 90%;
  margin-left: 5%;
  height: 80vh;
  object-fit: cover;
}

.title-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  padding: 50px;
  text-align: left;
}

.title-card p {
  color: #444;
}

.header {
  font-size: 2.5rem;
  font-weight: 400;
  color: #222;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1.5px solid black;
}

.our-story {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: rgb(245, 245, 245);
}
.story-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  width: 80%;
}

.left-side {
  width: 50%;
}

.left-side p {
  font-size: 2rem;
}

.right-side {
  width: 50%;
}

.right-side img {
  width: 100%;
  height: 50vh;
  max-width: 100%;
  object-fit: cover;
}

.our-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.our-values-box {
  display: flex;
  flex-direction: row;
}

.our-story h1,
.our-values h1,
.contact-section h1,
.team-section h1 {
  font-size: 2.5rem;
  padding-bottom: 3rem;
  font-weight: 400;
}

.contact-section h1 {
  padding-bottom: 1rem;
}

.our-story p,
.our-values p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  text-align: center;
}

.values-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem 10rem;
}

.value-item {
  width: 300px;
  text-align: center;
}

.value-item h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
}

.value-item p {
  color: #777;
}

.team-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: rgb(245, 245, 245);
}

.team-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 75%;
  gap: 2rem 2rem;
}

.team-member {
  text-align: center;
  width: 250px;
}

.team-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.team-member h4 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.team-member p {
  color: #777;
}

.contact-section {
  text-align: center;
  padding: 5vh 10vw;
  background-color: rgb(245, 245, 245);
}

.contact-button a {
  margin-top: 20px;
  color: #ffffff;
  font-size: large;
  font-weight: 400;
  padding: 12.5px 20px;
  border-radius: 40px;
  background-color: rgb(75, 75, 75);
  text-decoration: none;
  display: inline-block;
}

.contact-button a:hover {
  background-color: rgb(125, 125, 125);
}

.section-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.icon-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Responsive Design */
@media (max-width: 900px) {
  .story-container {
    flex-direction: column;
  }

  .left-side {
    width: 100%;
  }

  .right-side {
    width: 90%;
  }

  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .title-card {
    width: 90%;
    padding: 20px;
  }

  .our-story p,
  .our-values p {
    font-size: 1rem;
  }

  .team-container {
    flex-direction: column;
    align-items: center;
  }

  .team-member {
    margin-bottom: 2rem;
  }
}
